<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><span th:text="${friend.username}"></span>Profile</title>
</head>
<body>

<!--<h1><span th:text="${friend.username}">'s</span> Profile</h1>-->

<!--<h3>First name: <span th:text="${friend.firstName}"></span></h3>-->
<!--<h3>Last name: <span th:text="${friend.lastName}"></span></h3>-->
<!--<h3>Date of birth: <span th:text="${friend.dob}"></span></h3>-->
<!--<h3>Bio: <span th:text="${friend.bio}"></span></h3>-->


</ul>
</body>
</html>