<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <div th:replace="fragments/header :: navbar">...</div>
    <form action="/signup" method="POST">
        <label>Username:</label>
            <input type="text" placeholder="username" name="username"/>
        <label>Password:</label>
            <input type="password" placeholder="password" name="password"/>
        <label>
            <input type="text" placeholder="first name" name="firstName"/>
        </label>
        <label>
            <input type="text" placeholder="last name" name="lastName"/>
        </label>
        <label>
            <input type="text" placeholder="dob" name="dob"/>
        </label>
        <label>
            <input type="text" placeholder="bio" name="bio"/>
        </label>
        <input type="submit" />
    </form>
</body>
</html>

